<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Grid layout</title>
  </head>
  <body>
    <div class="wrapper">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
        voluptates iusto veritatis vero officia officiis facilis voluptatem
        ducimus accusantium nam maxime alias natus vitae sapiente id delectus a
        totam, harum obcaecati, doloremque laborum sed quisquam. Saepe dolorem
        dolore vel commodi optio nemo qui itaque harum eos voluptatum accusamus,
        laborum sint nesciunt deserunt facere voluptate ab possimus, illum
        dolor. Vitae quasi beatae fugiat inventore. Laudantium rerum reiciendis,
        aliquam dolores eaque ducimus. Commodi officiis tempora, nisi vero
        tenetur voluptatum veniam dicta doloribus!
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolor
        vel odio. Nesciunt reiciendis amet praesentium alias dolor
        necessitatibus a officia. Quibusdam reprehenderit quos veniam? Explicabo
        veritatis consequatur accusamus inventore?
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
        voluptates iusto veritatis vero officia officiis facilis voluptatem
        ducimus accusantium nam maxime alias natus vitae sapiente id delectus a
        totam, harum obcaecati, doloremque laborum sed quisquam. Saepe dolorem
        dolore vel commodi optio nemo qui itaque harum eos voluptatum accusamus,
        laborum sint nesciunt deserunt facere voluptate ab possimus, illum
        dolor. Vitae quasi beatae fugiat inventore. Laudantium rerum reiciendis,
        aliquam dolores eaque ducimus. Commodi officiis tempora, nisi vero
        tenetur voluptatum veniam dicta doloribus!
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolor
        vel odio. Nesciunt reiciendis amet praesentium alias dolor
        necessitatibus a officia. Quibusdam reprehenderit quos veniam? Explicabo
        veritatis consequatur accusamus inventore?
      </div>
    </div>
  </body>
</html>
